.hero {
    background: url(../../img/welcome-bg.png) top center/cover no-repeat;
    height: 100vh;
    min-height: 650px;
    color: white;
}

.hero__title-section {
    width: 46%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 28px 80px 65px;
}

.hero__main-title {
    font-size: 48px;
    line-height: 57.6px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 60px;
    padding-right: 10%;
}