.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 22px;

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}