.order-section {
    background: url("../../img/jeremy-bishop-cmt3JdS5MC4-unsplash-1024x683\ \(1\).jpg") top center, #797979;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    background-blend-mode: multiply;

    &--title {
        color: #FFFFFF;
    }
}