.phone-number {
    font-size: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
			color: rgb(83, 189, 255);
			transition: 1s;
	}
}

.phone-number__icon-elem {
    width: 12px;
    height: 12px;
    margin-right: 6px;
}